@tailwind base;
@tailwind components;
@tailwind utilities;

/* subtle adjustments */
:root {
  --neutral-850: 26 26 26; /* custom */
}

* { -webkit-tap-highlight-color: transparent; }
a { @apply text-teal-300 hover:text-teal-200; }

/* table borders color */
.border-neutral-850 { border-color: rgb(var(--neutral-850)); }
.bg-neutral-900\/60 { background-color: rgb(23 23 23 / 0.6); }

/* extras */
:root { --neutral-850: 26 26 26; }
.border-neutral-850 { border-color: rgb(var(--neutral-850)); }
a { @apply text-teal-300 hover:text-teal-200; }
* { -webkit-tap-highlight-color: transparent; }